@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'GmarketSansMedium';
}

body,html {
  width: 100%;
  height: 100%;
}

.header-logo-wrap {
  width: 100%;
  height: 110px;
}

.menuBtn {
  height: 210px;
}

#main {
  width: 100%;
}
a {
  text-decoration: none;
  color : #fff;
}
/* 축제가 없다고 출력할 p 태그 */
.no-fastival {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  padding : 40px;
}

/* 달력 컨텐츠 영역 */
#wrap {
  width: 100%;
  height: 1000px;
  background-color: #fff;
}
/* 월별 축제 텍스트 영역 */
.month-info {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top : 20px;
}
.month-info h3{
  font-size: 2.6rem;
}

/* 화살표 아이콘 영역 */
.month-info-rab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  height: 70px;
}
.month-info-rab .date-span, .dir {
  font-size: 3.5rem;
  font-weight: 900;
  color : #040ea0;
}
.month-info-rab .dir-rab {
  position: absolute;
  right: 0;
  display: flex;
  gap : 10px;
}
.month-info-rab .dir-cic {
  width: 50px;
  height: 50px;  
  border: 3px solid #AD49E1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.dir-cic .fa-arrow-left {
  color : #AD49E1;
}
.dir-cic .fa-arrow-right {
  color : #AD49E1;
}
.dir-cic:hover {
  background-color: #570384;
}
.dir-cic:hover i {
  color : #fff;
}
/*  화살콘 아이콘 영역 end */

/* 달력 영역 */
.cal-info {
  width: 100%;
  height: 800px;
  margin-top : 40px;
  margin : 0 auto;
  box-sizing: border-box; /* padding과 border가 너비에 포함되도록 */
}
table {
  background-color: #fff;
  border: 1px solid #390b52;
  width: 100%;
  
}
th {
  border-right: none;

}
td{
  border-bottom: 1px solid #cdcccc;
}


th {
  background-color: #e3ceee;
}

.cal-info table th div {
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}

/* day /축제 갯수/이미지 영역 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 140px;
}
.container .sun-d,
.sat-d,
.fa-basic
{ 
  font-size: 2.4rem;
  font-weight: 900;
}
.container .fa-count {
  font-size: 1.2rem;
  font-weight: 900;
  color : #818181;
}
.fa-caret-down {
  font-size: 20px;
}
/* day /축제 갯수/이미지 영역 */

/* 토,일 은 빨강/레드로 표시 */
.cal-info .sun-d {
  color : red;
}
.cal-info .sat-d {
  color : blue;
}

/* td[해당 날짜] 클릭시 축제리스트 보여주기 */
.cal-info table td:hover {
  background-color:#e6cff3 ;
}
.cal-info table td:active {
    color: red;
}



.display {
  /* 축제리스트 클릭시 none 처리로 가려주기 */
  /* 페이지 열였을때 기본값 */
  display: block; 
}
/* 날짜 클릭 안했을때 나올 영역 */
#no-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 60px;
  display: block;
}
#no-wrap .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#no-wrap img {
  width: 250px;
  height: 250px;
}
#no-wrap p {
  font-weight: 800;
  font-size: 2.1rem;
}
#no-wrap span {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 10px;
  color : #7d7d7d;
}
/* 날짜 클릭 안했을 때 나올 기본 화면 값 */


#all-list-wrap {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: none;
}
.list-logo {
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: auto;
  height: 150px;
  font-size: 2.9rem;
}

/* 맨위로 올라가는 화살표버튼 구현 */
#scroll-top {
  margin-left: auto;
  font-size: 5rem;
  margin-top: 50px;
}
.fa-circle-arrow-up:hover {
  color : #63dca9;
  font-size: 6rem;
}

.list-logo h1{
  position: absolute;
  bottom: 0;
}

#all-list-wrap .list-wrap {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin : 0 auto;
  width: 100%;
}
.list-wrap .list-wr-box {
  width: 300px;
  height: 400px;
}
.list-wrap .list-wr-box .wr-img {
  margin : 0 auto;
  margin-top: 50px;
  width: 230px;
  height: 220px;
  border-radius: 5%;
}
.list-wrap .list-wr-box 
.wr-title,
.wr-date,
.wr-loc
{
  margin: 0 auto;
  width: 230px;
  height: 30px;
  font-weight: 900;
}
.list-wrap .list-wr-box .wr-title {
  margin-top : 10px;
  font-size: 1.5rem;
  white-space: nowrap;         /* 텍스트를 한 줄로 표시 */
  overflow: hidden;            /* 넘치는 텍스트는 숨김 처리 */
  text-overflow: ellipsis;    /* 넘치는 텍스트를 '...'로 표시 */
}
.list-wrap .list-wr-box .wr-date {
  margin-top : 15px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #7d7d7d;
}

.list-wrap .list-wr-box .wr-loc {
  margin-top: 5px;
  font-size: 1.2rem;
  color : #393939;
  font-weight: 900;
}



@media only screen and (max-width: 1350px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

    /* 모바일 사이즈 디자인 */  
  #wrap {
      background-color: #fff;
      background-image: none;
  }
}

@media only screen and (max-width: 1080px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

  .month-info-rab .dir-rab {
    position: absolute;
    right: 0px;
}

#all-list-wrap {
  max-width: 900px;
}

}

@media only screen and (max-width: 992px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

  .month-info-rab .dir-rab {
    position: absolute;
    right: 0;
}

#all-list-wrap {
  max-width: 900px;
}

}

@media only screen and (max-width: 850px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

  .month-info-rab .dir-rab {
    position: absolute;
    right: 0;
}

#all-list-wrap {
  max-width: 750px;
}

#all-list-wrap .list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

}

@media only screen and (max-width: 768px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

  .month-info-rab .dir-rab {
    position: absolute;
    right: 0;
}

#all-list-wrap {
  max-width: 700px;
}

#all-list-wrap .list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

}

@media only screen and (max-width: 680px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

  .month-info-rab .dir-rab {
    position: absolute;
    right: 0;
}

#all-list-wrap {
  max-width: 600px;
}

#all-list-wrap .list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

}

@media only screen and (max-width: 430px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

  .month-info-rab .dir-rab {
    position: absolute;
    right: 0px;
}

#all-list-wrap {
  max-width: 600px;
}

#all-list-wrap .list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.month-info {

  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.month-info h3 {
  font-size: 1.8rem;
}

.month-info-rab .date-span, .dir {
  font-size: 1.9rem;
  font-weight: 900;
  color: #040ea0;

}
}


@media only screen and (max-width: 390px) {
  /* 모바일 사이즈 디자인 */ 
  table {
    width: 100%;
  } 

  .month-info-rab .dir-rab {
    position: absolute;
    right: 0px;
}

#all-list-wrap {
  max-width: 600px;
}

#all-list-wrap .list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.month-info {

  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.month-info h3 {
  font-size: 1.8rem;
}

.month-info-rab .date-span, .dir {
  font-size: 1.9rem;
  font-weight: 900;
  color: #040ea0;

}
}