@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{ 
  margin : 0;
  padding : 0;
  font-family: 'GmarketSansMedium';
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}
/* 헤더영역 */
header {
  display: flex;
  justify-content: space-between;
}
.header-logo-wrap {
  width: 100%;
  height: 90px;
}

.container {
  width: 100%;
}
/* 헤더영역 end */

/* <!-- 메인 화면 / 시계 및 배경 이미지 영역 --> */
#main-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.time-wrap {
  margin : 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 300px;
  background-color: rgba(78, 77, 77, 0.6); /* 반투명한 검은색 배경 */
  padding: 10px; /* 배경이 텍스트에 잘 붙도록 패딩 추가 */
  border-radius: 14px;
}

.wrap-title {
  font-size: 1.6rem;
  text-align: center;
  width: 40%;
  height: 80px;
  line-height: 80px;
  position: absolute;
  top : 0;
  margin : 40px;
  color : #fff;
  background-color: rgba(78, 77, 77, 0.6);
}
.wrap-title h1 {
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트는 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 "..." 처리 */
}

.ti-m {
  text-align: center;
  line-height: 90px;
  width: 21%;
  height: 90px;
  border : 3px solid #fff;
  border-radius: 20px;
  color : #fff;
  font-weight: 900;
  font-size: 1.6rem;
}

.event-day {
  position: absolute;
  text-align: center;
  border : 3px dotted #e49760;
  border-radius: 30px;
  bottom: 50px;
  width: 150px;
  height: 50px;
}

.ti-ch {
  color: #a1fe00;
  font-size: 3rem;
  border: none;
}

.ti {
  font-size: 3rem;
  border: none;
}
.time-wrap p{
  position: relative;
  bottom: 10px;
  font-size: 4rem;
  color: #fff;
}
.menuBtn {
  height: 210px;
}

.event-day .eve {
  position: absolute;
  text-align: center;
  line-height: 50px;
  border : 3px dotted #e49760;
  border-radius: 20px;
  bottom: 2px;
  line-height: 40px;
  left : 7px;
  width: 90%;
  height: 40px;
  color : #fff;
}
/* <!-- 메인 화면 / 시계 및 배경 이미지 영역 --> */

/* <!-- 축제 진행중 및 포스터 이미지 기간 영역 --> */
#section {
  width: 100%;
  height: auto;
}
.section-wrap {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.section-wrap .set-title {
  width: 100%;
  height: auto;
  padding : 30px 0 20px 0;
  font-weight: 900;
  font-size: 1.2rem;
}
.section-wrap .set-logo {
  width: 100%;
  height: auto;
  line-height: 20px;
  padding : 10px 0 20px 0;
  font-size: 1.5rem;
}
.festivi-button {
  width: 20%;
  line-height: 50px;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 14px;
  height: 50px;
  background-color: rgb(241, 26, 152);
  color : #fff;
  font-weight: 900;
}
.d-end {
  display: none;
}
.d-show {
  display: block;
}
.fest-end {
  background-color: #7b7a7a;
}

/* 행사 시작 날짜 표시 시계 밑에 */
.set-period {
  width: 100%;
  height: 50px;
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 50px;
  padding : 10px 0 10px 0;
}
.title-img {
  justify-content: start;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  padding : 20px;
}
.tit {
  display: none;
}
.title-img .box {
  width: 100%;
  height: 350px;
  margin-left: 9px;
  box-sizing: border-box;
  border-radius: 10px;
}
/* <!-- 축제 진행중 및 포스터 이미지 기간 영역 --> */
.section-wrap .set-share {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 1.7rem;
}
.section-wrap .share-btn {
  padding-left: 20px;
  
}

.set-content-wrap {
  width: 100%;
  height: 45vh;
}
/* 축제정보에 대한 디테일한 내용 */
.section-wrap .set-content {
  margin-top: 10px;
  width: 100%;
  height: 250px;
  font-weight: 900;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* 여러 줄을 허용 */
}
.set-content-wrap .the-moer {
  display: flex;
  justify-content: end;
  width: 100%;
  height: auto;
}
.set-content-wrap .the-moer .the-moer-btn {
  margin-top: 6px;
  border-radius: 20px;
  text-align: center;
  width: 13%;
  font-size: 1.0rem;
  background-color: #640D5F;
  color : #fff;
  font-weight: 900;
}

.set-content-wrap .the-moer .the-moer-btn:hover {
  background-color: #D91656;
}


#fest-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 0.8rem;
}

#fest-wrap .fest-box {
  position: relative;
  display: flex;
  width: 80%;
  height: 600px;
}

#fest-wrap .fest-box .fest-title-img {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}

#fest-wrap .fest-box > div {
  margin : 0 auto;
  width: 100%;
  margin-left : 30px;
}

.fest-content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.fest-content .ft {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;

}
.address {
  font-size: 1.2rem;
}
.fest-content .ft .ft-data {
  width: 80%;
  height: 80px;
  line-height: 80px;
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 900;
}

.ft > .ft-icon {
  
  display: inline-block;
  font-size: 42px;
  width: 60px;
  height: 60px;
  line-height: 70px;
  border-radius: 50%;
  background-color: rgb(237, 237, 234);
  text-align: center;
}

.ft-fi {
  position: absolute;
  right : 30px;
  bottom: 30px;
}

.ft-homePage-btn {
  text-align: center;
  width: 40%;
  border : 3px solid #7b7a7a;
  border-radius: 15px;
  font-size: 1.7rem;
  font-weight: 800;
}



.ft-homePage-btn a{
  color : #000;
}
.ft-homePage-btn:hover{
  background-color: #D91656;
}
.ft-homePage-btn a:hover {
  color : #fff;
}


.footer {
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 1530px) { 
  
  #main-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;

  }
}

@media only screen and (max-width: 1260px) { 
  
  .section-wrap .set-content {
    margin-top: 10px;
    width: 100%;
    height: 800px;
    font-weight: 900;
    font-size: 1.5rem;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}


@media only screen and (max-width: 870px) { 

  #main-wrap {
    height: auto;
  }
  .title-img .box {
    width: 380px;
    height: 260px;
    margin-left: 9px;
    box-sizing: border-box;
    border-radius: 10px;
}
  
  #fest-wrap .fest-box {
    position: relative;
    display: flex;
    width: 80%;
    height: 500px;
  }

  #fest-wrap .fest-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 600px;
  }
  .ft-fi {
    position: absolute;
    left : 170px;
    bottom: -180px;
  }

  .time-wrap {
    width: 35%;
    display: none;
  }

  #fest-wrap {
    margin-top: 200px;
}

}


@media only screen and (max-width: 600px) { 

 
  .title-img .box {
    width: 100%;
    height: 260px;
    margin-left: 9px;
    box-sizing: border-box;
    border-radius: 10px;
}
  

}

@media only screen and (max-width: 470px) { 

 
  .title-img .box {
    width: 100%;
    height: 250px;
    margin-left: 9px;
    box-sizing: border-box;
    border-radius: 10px;
}

.set-period {
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 50px;
  padding: 10px 0 10px 0;
}
.ft-homePage-btn {
  text-align: center;
  width: 50%;
  border: 3px solid #7b7a7a;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 800;

}

.ft-fi {
  position: absolute;
  left: 110px;
  bottom: -180px;
}
}