@font-face {
  font-family: "HSYeoleum20-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSYeoleum20-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
}

body {
  min-width: 390px;
}

section {
  position: relative;
  top: 87px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #00239c;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar .logo {
  color: #ed6a66;
  font-size: 40px;
  font-family: "HSYeoleum20-Regular";
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}

.nav-links a:hover {
  color: #ed6a66;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
}

.sear {
  display: flex;
}
.searin {
  width: 250px;
  height: 45px;
  position: relative;
  left: 10px;
}

.searbt {
  width: 50px;
  height: 45px;
  margin-left: 13px;
  background-color: #ed6a66;
}

.searbt:hover {
  background-color: #ed6a66;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    background-color: #00239c;
    /* margin-left: 15%; */
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
    opacity: 0.8;
  }
  .nav-links.active li {
    position: relative;
    margin-top: 15px;
  }

  .menu-toggle {
    display: flex;
  }
  .sear {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 173px;
    left: 0px;
    width: 100%;
    background-color: #333;
    /* margin-left: 15%; */
  }
  .sear.active {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    background-color: #00239c;
    margin-top: 0px;
    z-index: 999;
    opacity: 0.8;
  }
}

/* 중간베너 css */

.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  /* margin-top: 20px; */
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 600%;
  height: 700px;
}

.mainimg {
  height: 100%;
}

.cars-a {
  display: flex;
  justify-content: center;
  background-color: #3333330d;
  width: 40%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00239c50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (width > 390px) {
  .event-container {
    width: 1000px;
  }
}

/* 반응형 스타일 */
@media (max-width: 390px) {
  .carousel-slide img {
    width: 100%;
  }

  .bocls button {
    display: none;
  }

  .event-container {
    width: 390px;
  }
}

/* 카드 css */
.bocls {
  padding: 20px;
}

.card-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px 0;
}

.card-container2 {
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px 0;
}

.card {
  flex: 0 0 30%;
  /* 카드가 3개씩 보이도록 설정 */
  padding: 20px;
  border-radius: 4%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 230px;
  height: 200px;
  border-radius: 5%;
}

.card p,
h3 {
  margin: 0;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00239c50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
  z-index: 1;
}

.btd {
  display: flex;
  justify-content: space-between;
}

.btd h1 {
  background-color: #ed6a6690;
}

.btd1 {
  display: flex;
  align-items: center;
}

.btd1 h1 {
  background-color: #ed6a6690;
}

.cbt {
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
}

@media (max-width: 400px) {
  .card {
    flex: 0 0 80%;
    /* 작은 화면에서는 카드 1개씩 보이도록 설정 */
  }
}

/* 컨테이너 스타일 */
.event-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* 카드 스타일 */
.card {
  overflow: hidden;
  width: 250px;
  height: 340px;
  margin: 0;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .info {
  text-align: center;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.card .duration,
.card .location,
.card .status {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.card .status {
  color: green;
  font-weight: bold;
}

/* 메시지 스타일 */
#message {
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
  color: red;
}

/* 타이틀 스타일 */
h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #333;
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  .card .info {
    padding: 10px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card .duration,
  .card .location,
  .card .status {
    font-size: 12px;
  }
}
