<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event_list</title>
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
    crossorigin="anonymous">
</script>

<script src="./event_list.js"></script>
<link rel="stylesheet" href="./event_list.css">

<body>

    {% extends "index.html" %}

    {% block section %}
    <table id="myTable">
        <thead>
            <tr class="selection">
                <td>
                    <select name="지역" id="location">
                        <option value="location" selected>지역</option>
                        <option value="서울">서울</option>
                        <option value="인천">인천</option>
                        <option value="대전">대전</option>
                        <option value="대구">대구</option>
                        <option value="광주">광주</option>
                        <option value="부산">부산</option>
                        <option value="울산">울산</option>
                        <option value="세종시">세종시</option>
                        <option value="경기도">경기도</option>
                        <option value="강원특별자치도">강원특별자치도</option>
                        <option value="충청북도">충청북도</option>
                        <option value="충청남도">충청남도</option>
                        <option value="경상북도">경상북도</option>
                        <option value="경상남도">경상남도</option>
                        <option value="전북특별자치도">전북특별자치도</option>
                        <option value="전라남도">전라남도</option>
                        <option value="제주도">제주도</option>
                    </select>
                </td>
                <td>
                    <select id="category">
                        <option value="category" selected>카테고리</option>
                        <option value="culture">문화예술</option>
                        <option value="group_work">모임</option>
                        <option value="contest">대회</option>
                    </select>
                </td>
                <td>
                    <button class="sortEvent" onclick="filterEvents()">찾기</button>
                </td>
                
            </tr>
        </thead>
        <tbody id="tbody">
            
            
        </tbody>
    </table>
    {% endblock section %}
</body>
</html>