/* 메인 영역 사이즈 지정 */
.main-container {
  position: relative;
  width: auto;
  height: 600px;
  overflow: hidden;
}

.main-container li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
}

.main-container li img {
  width: 100%;
  height: auto;
}

/* main 이미지 슬라이드 처리 */
#img1 {
  background-image: url("/사진/01.jpg");
}

#img2 {
  background-image: url("//사진/02.jpg");
}

#img3 {
  background-image: url("//사진/trval03.jfif");
}

#img4 {
  background-image: url("//사진/01.jpg");
}

.main-container li.active {
  opacity: 1;
}
